<!doctype html>
<html lang="en">
  <head>
    {% include "partials/meta.njk" %}
    {% if page.url == "/" %}
      <link rel="pgpkey" type="application/pgp-keys" href="/key.pub">
    {% endif %}
  </head>
  <body {% if color and color != config.color %}style="--light: {{color}}"{% endif %}>
  {% if config.analytics and getEnv("ELEVENTY_ENV","production") %}
    {{ config.analytics | safe }}
  {% endif %}
  <div>
    <header>
      {% include "partials/head.njk" %}
    </header>
    <main>
      <article class="h-entry">
        {% block main %}
          {% if title and not notitle %}
            {% block title %}
              <h1 class="p-name">{{ title | capitalize}}</h1>
            {% endblock %}
          {% endif %}
          <div class="e-content">
            {{ content | safe }}
          </div>
        {% endblock %}
      </article>
    </main>
    <footer>
      {% include "partials/foot.njk" %}
    </footer>
  </div>
</body></html>