<!doctype html>
<html lang="en">
  <head>
    {% include "partials/meta.njk" %}
  </head>
  <body {% if color and color != config.color %}style="--light: {{color}}"{% endif %}>
  {% if config.analytics and getEnv("ELEVENTY_ENV","production") %}
    {{ config.analytics | safe }}
  {% endif %}
  <div {% if classes %}class="{{classes}}"{% endif %}>
    {{ content | safe }}
  </div>
</body></html>
