@font-face {
  font-family: 'spectral';
  src: url('/spectralbold.woff2') format('woff2'),
       url('/spectralbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'spectral';
  src: url('/spectralitalic.woff2') format('woff2'),
       url('/spectralitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: 'spectral';
  src: url('/spectralregular.woff2') format('woff2'),
       url('/spectralregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$radius: 3px;
$lighter: #cddfd9;
$warner: #ccbcb1;
$activer: #b1c1cc;
:root {
    --light: #0aa06e;
    --warn:#d6863a;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Spectral, serif;
  font-size: 1.1rem;
  min-height: 100vh;
  margin: 0;
  padding: 75px 20px;
  background: #fffbf8;
  color: #2f2235;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  box-sizing: border-box;

  & > div {
    width: min(600px,100%);
  }
}

button,
input[type=submit],
input[type=button],
input[type=reset],
sup,
sub {
  font-family: monospace;
}

button[type=reset],
input[type=reset] {
  background: $warner;
}

figure {
  blockquote {
    margin-block-end: 0 
  }
  margin-inline: 0;
  figcaption {
    padding-left: 17px;
  }
}

:not(footer) > pre,
code {
  font-size: 1rem;
}

nav > *,
img {
  width: 100%;
}

h1,h2 {
  position: relative;
}

h1 > a > img,
h2 > a > img {
  padding-left: 5px;
  width: initial;
  height: 15px;
  position: absolute;
  bottom: 8px;
}

h1 > a > img {
  bottom: 12px;
}

img {
  border-radius: $radius;
}

hr {
  border: none;
  text-align: center;

  &::after {
    content: "---";
  }
}

.lighter {
  color: var(--light) !important;
}

ul {
  list-style: georgian;
}

code,
:not(footer) > pre {
  background: $lighter;
  border-radius: $radius;
}

:not(pre) > code {
  padding: 0 3px;
}

footer {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

blockquote {
  border-radius: $radius;
}

// kv == key-value
nav,.kv {
  width: 100%;

  * {
    margin-block: 0;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-inline: 0;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}

header {
  > * > * {
    display: block;
    text-align: center;
    font-size: 14pt;
  }

  a {
    text-decoration: inherit;
  }
}

a {
  color: inherit;
  text-decoration-color: var(--light);
  text-decoration-thickness: 2px;
  transition: color .3s;
  
  &[href*="//"]:not([href*="boehs.org"]) {
    --light: var(--warn)
  }
  
  &:hover {
    color: var(--light)
  }
  
  &:active {
    color: #ff9e9e;
  }
}

.card {
  color: inherit;
  text-decoration: inherit;
  border-left: 2px solid var(--light);
  padding: 0 1em;
  display: block;

}

article > p {
  margin-block: 10px;
}

.contain {
  display: grid;
  grid-template-rows: masonry;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
  .card {
    :first-child {
      margin-top: 0;
    }
    
    :last-child {
      margin-bottom: 0;
    }
  }
}

button,
input[type=submit],
input[type=button],
input[type=reset] {
  padding: 1em;
  margin: 10px 0;
  background: $lighter;
  border-radius: $radius;
  transition: .3s;
}

button,
input[type=submit],
input[type=button],
input[type=reset],
.int {
  &:hover {
    background: $activer;
  }
}

article, nav, header {
  line-height: 1.6;
}

legend,
dt,
label {
  font-weight: bold;
}

button,
input[type=submit],
input[type=button],
input[type=reset] {
  cursor: pointer;
  border: none;
}

dd {
  border-left: 6px double var(--light);
  margin: 0;
  padding-left: 10px;
}

.twrap {
  overflow-x: auto;
}

table {
  border-spacing: 1em 0;
}

th {
  white-space: nowrap;
}

blockquote {
  padding: 10px 0 10px 10px;
  border-left: 6px double var(--light);
  margin: 1em 0;
}

.penpen {
  --light: lightpink;
  background: lavender;
  
  p::before {
    content: '🐾 ';
  }
}

@media screen and (max-width: 800px) {
  footer {
    pre {
      display: none;
    }
  }
  
  footer > nav > div,.kv > div {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #282828;
    color: whitesmoke;
  }

  code,
  blockquote {
    background: darkslategray;
  }
  
  .penpen {
    background: darkslategray;
  }
  
  :not(footer) > pre {
    background: #fffbf8 !important;
  }
}