<!doctype html>
<html lang="en">
  <head>
    {% include "partials/meta.njk" %}
  </head>
  <body {% if color and color != config.color %}style="--light: {{color}}"{% endif %}>
    <header>
      {% include "partials/head.njk" %}
    </header>
    <main>
      <article class="h-entry" {% if date and structuredData.type %} itemscope itemtype="https://schema.org/{{structuredData.type}}" {% endif %}>
        {% block main %}
          {% if title and not notitle %}
            {% block title %}
              <h1 class="p-name" itemprop="headline">{{ title }}</h1>
            {% endblock %}
          {% endif %}
          <div class="e-content">
            {{ content | safe }}
          </div>
        {% endblock %}
        {% if hasCodeBlock %}
          <span id="postlude"/>
        {% endif %}
      </article>
    </main>
    <footer>
      {% include "partials/foot.njk" %}
    </footer>
</body></html>
