<!doctype html>
<html lang="en">
   <head>
     {% include "partials/meta.njk" %}
   </head>
   <body>
      {% if color %}
      <style>
        :root {
          --0: {{color}}
        }
      </style>
      {% endif %}

      <div>
         <header>
           {% include "partials/head.njk" %}
         </header>
         <article>
           <h1>{{title}}</h1>
           {{content | safe}}
         </article>
         <footer>
           {% include "partials/foot.njk" %}
         </footer>
         <script src="/main.js"></script>
      </div>
   </body>
</html>