---
layout: base.njk
---

{% set hasdiv = false %}
{% for collection,settings in collectionsControl %}
    {% set frontmatter = getContext()[settings.frontmatter] %}
    {% if frontmatter %}
        {% if not hasdiv %}
            <div class="kv">
            {% set hasdiv = true %}
        {% endif %}
        <div>
            <div>{{settings.frontmatter}}</div>
            {% if frontmatter | getType == 'array'%}
                <ul {% if settings.class %}class="{{settings.class}}"{% endif %}>
                    {% for item in frontmatter %}
                        <li>
                            <a href="/{{settings.frontmatter}}/{{item}}">{{item}}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% elseif frontmatter | getType == 'date' %}
                {# hack #}
                <span {% if settings.class %}class="{{settings.class}}"{% endif %}>{{page.date.toUTCString()}}</span>
            {% else %}
                <a {% if settings.class %}class="{{settings.class}}"{% endif %} href="/{{settings.frontmatter}}/{{frontmatter}}">{{frontmatter}}</a>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
{% if hasdiv %}
    </div>
{% endif %}

<hr/>

{% for collection,settings in collectionsControl %}
    {% set frontmatter = getContext()[settings.frontmatter] %}
    {% if frontmatter %}
        {% set item = tagList[collection][frontmatter] %}
        {% if item.showOnPost %}
            <div class="card" {% if item.color %} style="background-color: {{item.color}}" {% endif %}>
                <p class="tit">{{item.icon if item.icon}} <a href="/{{settings.frontmatter}}/{{frontmatter}}">{{frontmatter}}</a></p>
                <p class="pad">{{item.description | safe if item.description}}</p>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

{{content | safe}}

{% if not backlinks | length == 0 %}
    <hr/>
    <h2>What links here?</h2>
    <ul>
        {% for backlink in backlinks %}
            <li>
                <a href="{{backlink.url}}">{{backlink.title}}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}