@font-face {
    font-family: 'dillanregular';
    src: url('Assets/Fonts/Webfonts/dillan-webfont.woff2') format('woff2'),
        url('Assets/Fonts/Webfonts/dillan-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@keyframes pulse {
    0%, 100% {
      background-color: #f5f5f5;
    }
    50% {
      background-color: #f0f0f0;
    }
}

@keyframes darkpulse {
    0%, 100% {
      background-color: black;
    }
    50% {
      background-color: #1a1918;
    }
}

body {
    animation: pulse 20s infinite;
}

.dark-mode {
    animation: darkpulse 20s infinite;
    color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;

}

.container {
    height: 100vh
}

.Header {
    font-family: 'dillanregular';
    font-size: calc(0.75em + 9vmin);
    line-height: calc(0.75em+2vmin);
}

.Content {
    font-size: calc(0.75em + 1.5vmin);
    font-family: 'Noto Sans', sans-serif;
}

.Links {
    font-family: 'dillanregular';
    font-size: 40px;
}

.imagecontainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    
}

.imageslide {
    width: 90vw; /* you can use % */
    height: auto;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 10px;
    text-align: center;
}

/* desktop */
@media only screen and (min-width: 1000px) {

    .col-1 {
        width: 50%;
        @include vertical-align();
        padding-left: 30px;
        text-align: center;
    }

    .col-2 {
        width: 50%;
        @include vertical-align();
    }
    .imageslide {
        width: 400px; /* you can use % */
    }
    .imagecontainer {
        padding-left: 10px;
        width: 50%;
    }

    .Links {
        padding-top: calc(0.75em + 1vmin);
        font-size: calc(0.75em + 1vmin);
    }
}