{% from "partials/card.njk" import card %}

{% macro cardList(list) -%}
===============
    {% for item in list -%}
        {% if not loop.first %}

---
        {% endif %}
{{ card(item[0], item[1]) }}
    {%- endfor %}

===============
{%- endmacro %}