^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

Main
=> gemini://gmi.boehs.org/ Home
=> gemini://gmi.boehs.org/contact.gmi Contact
{% if config.isJobHunting -%}{{'\n'}}=> gemini://gmi.boehs.org/resume.gmi Resume{%- endif %}
=> gemini://gmi.boehs.org/in/blog.gmi Blog
=> gemini://gmi.boehs.org/in/now.gmi Now
Links
=> https://sr.ht/~boehs SourceHut
=> https://github.com/boehs GitHub
=> https://linkedin.com/in/boehs LinkedIn
=> https://500px.com/taps Photos
Boring{% if config.donate %}{{'\n'}}=> {{config.donate}} Donate{% endif %}