^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
Main
=> gemini://boehs.org/ Home
=> gemini://boehs.org/contact Contact
{% if config.isJobHunting %}
=> gemini://boehs.org/resume Resume
{% endif %}
=> gemini://boehs.org/in/blog Blog
=> gemini://boehs.org/in/now Now
Links
=> https://sr.ht/~boehs SourceHut
=> https://github.com/boehs GitHub
=> https://linkedin.com/in/boehs LinkedIn
=> https://500px.com/taps Photos
Boring
{% if config.donate %}
=> https://liberapay.com/e Donate
{% endif %}