backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)
media_folder: blog/static/img
public_folder: /img
collections:
  - name: 'blog'
    label: 'Blog'
    folder: 'blog/content/posts'
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    editor:
      preview: true
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Post Tags', name: 'tags', widget: 'list' }
      - { label: 'Draft', name: 'draft', widget: 'boolean' }
      - { label: 'Body', name: 'body', widget: 'markdown' }