// This stylesheet should be imported once per page
@use '_vars.scss' as *;

// Fonts //
@each $style, $weight in (regular normal, italic normal, bold bold) {
  @font-face {
    font-family: $fontFamily;
    src: url("/#{$fontFamily}.#{$style}.woff2") format("woff2"),
         url("/#{$fontFamily}.#{$style}.woff") format("woff");
    font-weight: $weight;
    font-style: if($style == italic, italic, normal);
    font-display: fallback;
  }
}

// Setup //

*,
*:before,
*:after {
    box-sizing: inherit;
}
