// Fonts //

@font-face {
    font-family: "spectral";
    src:
        url("/spectralbold.woff2") format("woff2"),
        url("/spectralbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "spectral";
    src:
        url("/spectralitalic.woff2") format("woff2"),
        url("/spectralitalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: optional;
}

@font-face {
    font-family: "spectral";
    src:
        url("/spectralregular.woff2") format("woff2"),
        url("/spectralregular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Variables //

$radius: 3px;
$warner: #ccbcb1;
$activer: #b1c1cc;
:root {
    --base: 198deg;
    --light: var(--arc-palette-foregroundPrimary, hsl(var(--base), 88%, 33%));
    --lighter: hsl(var(--base), 22%, 84%);
    --warn: #df803f;
}

.lighter {
    color: var(--light) !important;
}

// Setup //

*,
*:before,
*:after {
    box-sizing: inherit;
}
