@use "base.scss";

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: hsl(20, 100%, 98%);
    color: #101010;
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 48px;
}

div > * {
    margin-block: 5px;
}

html {
    height: 100%;
}

pre {
    font-weight: bolder;
    font-size: 32px;
    position: fixed;
    right: 30px;
    bottom: -50px;
    opacity: 25%;
}

h1 {
    font-size: 48px;
}

p,
strong {
    font-size: 40px;
}

p:last-of-type {
    opacity: 50%;
}

span {
    display: flex;
    justify-content: space-between;
}
