@font-face {
  font-family: 'spectral';
  src: url('/spectralbold.woff2') format('woff2'),
       url('/spectralbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'spectral';
  src: url('/spectralitalic.woff2') format('woff2'),
       url('/spectralitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: 'spectral';
  src: url('/spectralregular.woff2') format('woff2'),
       url('/spectralregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
    --light: #0aa06e;
    --lighter: #cddfd9;
    // --darker: #086647;
    // --active: #0a61a0;
    --activer: #b1c1cc;
    --warn: #d6863a;
    --warner: #ccbcb1;
    --radius: 3px;
}

body {
  font-family: Spectral, serif;
  font-size: 1.1rem;
  min-height: 100vh;
  margin: 0;
  background: #fffbf8;
  color: #2f2235;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;

  & > div {
    padding: 75px 0;
    width: min(600px,100%);
  }
}

button,
input[type=submit],
input[type=button],
input[type=reset],
sup,
sub {
  font-family: monospace;
}

button[type=reset],
input[type=reset] {
  background: var(--warner);
}

figure {
  blockquote {
    margin-block-end: 0 
  }
  margin-inline: 0;
  figcaption {
    padding-left: 17px;
  }
}

:not(footer) > pre,
code {
  font-size: 1rem;
}

nav > *,
img {
  width: 100%;
}

img {
  border-radius: var(--radius);
}

hr {
  border: none;
  text-align: center;

  &::after {
    content: "---";
  }
}

.lighter {
  color: var(--light) !important;
}

ul {
  list-style: georgian;
}

code,
:not(footer) > pre {
  background: var(--lighter);
  border-radius: var(--radius);
}

:not(pre) > code {
  padding: 0 3px;
}

footer {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

// kv == key-value
nav,.kv {
  width: 100%;

  * {
    margin-block: 0;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-inline: 0;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    & > div {
      font-weight: bold;
    }
  }
}

header {
  > * > * {
    display: block;
    text-align: center;
    font-size: 14pt;
  }

  a {
    text-decoration: inherit;
  }
}

a {
  color: inherit;
  text-decoration-color: var(--light);
  text-decoration-thickness: 2px;
  transition: .3s;
  
  &[href*="//"]:not([href*="boehs.org"]) {
    text-decoration-color: var(--warn);
    
    &:hover {
      color: var(--warn);
    }
  }
  
  &:hover {
    color: var(--light)
  }
}

article > p {
  margin-block: 10px;
}

.contain {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
  .card {
    margin: 0;
  }
}

.card,
button,
input[type=submit],
input[type=button],
input[type=reset] {
  padding: 1em;
  margin: 10px 0;
  background: var(--lighter);
  border-radius: var(--radius);
  transition: 0.3s;
}

button,
input[type=submit],
input[type=button],
input[type=reset],
.int {
  &:hover {
    background: var(--activer);
  }
}

article, nav, header {
  line-height: 1.6;
}

legend,
dt,
label {
  font-weight: bold;
}

button,
input[type=submit],
input[type=button],
input[type=reset] {
  cursor: pointer;
  border: none;
}

dd {
  border-left: 7px double;
  margin: 0;
  padding-left: 10px;
}

blockquote {
  padding: 10px 0 10px 10px;
  border-left: 7px double;
  border-radius: var(--radius);
  margin: 1em 0;
  background: lavender;
}

@media screen and (max-width: 800px) {
  body {
    padding: 0 20px;
  }

  footer {
    pre {
      display: none;
    }
  }
  
  footer > nav > div,.kv > div {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #282828;
    color: whitesmoke;
  }

  code,.card {
    background: darkslategray;
  }

  a {
    color: #9e9eff;

    &:active {
      color: #ff9e9e;
    }

    &:visited {
      color: #d0adf0;
    }
  }
  
  :not(footer) > pre {
    background: #fffbf8 !important;
  }
  
  blockquote {
    background: #36363c;
    color: inherit;
  }
}

// extra classes

// .banner {
//   background: var(--warner);
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// 
//   & > div {
//     width: 64ch;
//   }
// }