---
layout: base.njk
---

{% from "partials/card.njk" import card %}
{% for collection,settings in collectionsControl -%}
    {% set frontmatter = getContext()[collection] %}
    {% if frontmatter -%}
        {% if not collectionsControl[collection].excludeFromPagination %}
=> gemini://boehs.org/{{collectionsControl[collection].plural or collection}} {{collection}}:
        {% else %}
{{collection}}:
        {% endif %}
        {% if frontmatter | getType == 'array' -%}
            {% for item in frontmatter %}
=> gemini://boehs.org/{{collectionsControl[collection].single or collection}}/{{item}} {{item}}{% endfor %}
        {% elseif frontmatter | getType == 'date' %}
{{page.date.toUTCString()}}
        {% else %}
=> gemini://boehs.org/{{collectionsControl[collection].single or collection}}/{{frontmatter}} {{frontmatter}}
        {%- endif %}
    {%- endif %}
{%- endfor %}

+++

{% for collection,settings in collectionsControl %}
    {% set frontmatter = getContext()[collection] %}
    {% if frontmatter %}
        {% set item = tagList[collection][frontmatter] %}
        {% if item.showOnPost %}
            {{ card({
                url: "/" + collection + "/" + frontmatter,
                title: frontmatter,
                icon: item.icon
            },{
                content: item.description
            }) }}
        {% endif %}
    {% endif %}
{% endfor %}

{{content | safe}}

{% if not backlinks | length == 0 %}
## What links here?
    {% for backlink in backlinks %}
* gemini://boehs.org{{backlink.url}} {{backlink.title}}
    {% endfor %}
{% endif %}