@font-face {
  font-family: 'spectral';
  src: url('../_assets/spectralbold.woff2') format('woff2'),
       url('../_assets/spectralbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'spectral';
  src: url('../_assets/spectralitalic.woff2') format('woff2'),
       url('../_assets/spectralitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: 'spectral';
  src: url('../_assets/spectralregular.woff2') format('woff2'),
       url('../_assets/spectralregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --light: #0aa06e;
  --lighter: #cddfd9;
  // --darker: #086647;
  // --active: #0a61a0;
  --activer: #b1c1cc;
  // --warn: #d6863a;
  --warner: #ccbcb1;
  --radius: 3px;
}

body {
  font-family: Spectral, serif;
  font-size: 1.1rem;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background: #fffbf8;
  color: #2f2235;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    padding: 75px 0;
    width: min(600px,100%);
  }
}

button,
input[type=submit],
input[type=button],
input[type=reset],
pre,
code,
sup,
sub {
  font-family: monospace;
}

button[type=reset],
input[type=reset] {
  background-color: var(--warner);
}

figure {
  blockquote {
    margin-block-end: 0 
  }
  margin-inline: 0;
  figcaption {
    padding-left: 17px;
  }
}

:not(footer) > pre,
code {
  font-size: 1rem;
}

nav > *,
img {
  width: 100%;
}

img {
  border-radius: var(--radius);
}

hr {
  border: none;
  text-align: center;
  width: 100%;

  &::after {
    content: "---";
  }
}

.lighter {
  color: var(--light) !important;
}

ul {
  list-style: georgian;
  margin-block: 0;
}

code,
:not(footer) > pre {
  background-color: var(--lighter);
  border-radius: var(--radius);
}

:not(pre) > code {
  padding: 0 3px;
}

footer {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

// kv == key-value
nav,.kv {
  width: 100%;

  * {
    margin-block: 0;
  }
  
  ul {
    list-style: none;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style-position: inside;
    padding-inline-start: 0px;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    & > div {
      font-weight: bold;
    }
  }
}

header {
  width: 100%;

  > * > * {
    display: block;
    text-align: center;
    font-size: 14pt;
  }

  a.lighter {
    text-decoration: inherit;
  }
}

main > p {
  line-height: 1.5;
  margin-block: 10px;
}

address {
  font-style: initial;
}

.card,
button,
input[type=submit],
input[type=button],
input[type=reset] {
  padding: 1em;
  margin: 10px 0;
  background-color: var(--lighter);
  border-radius: var(--radius);
  transition: 0.3s;
  
  & > :nth-child(1).tit {
    margin-block-start: 1em;
    font-weight: bold;
    display: block;
  }
  & > .pad {
    margin-left: 3ch;
  }
}

button,
input[type=submit],
input[type=button],
input[type=reset],
.int {
  &:hover {
    background-color: var(--activer);
  }
}

article, nav, header {
  line-height: 1.5;
}

legend,
dt,
label {
  font-weight: bold;
}

button,
input[type=submit],
input[type=button],
input[type=reset] {
  cursor: pointer;
  border: none;
}

blockquote,
dd {
  border-left: 7px double;
  margin: 0;
  padding-left: 10px;
}

blockquote {
  padding: 10px 0 10px 10px;
  margin: 1em 0;
  border-radius: var(--radius);
  background-color: lavender;
  color: darkblue;
}

@media screen and (max-width: 800px) {
  main {
    padding: 0 20px;
  }

  footer {
    padding: 0 20px;

    pre {
      display: none;
    }
  }
  
  footer > nav > div,.kv > div {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #282828;
    color: whitesmoke;
  }

  code {
    background-color: darkslategray;
  }

  a {
    color: #9e9eff;

    &:active {
      color: #ff9e9e;
    }

    &:visited {
      color: #d0adf0;
    }
  }
  
  .card {
    background-color: darkslategray;
  }
  
  :not(footer) > pre {
    background-color: #fffbf8 !important;
  }
  
  blockquote {
    background-color: #36363c;
    color: inherit;
  }
}

// extra classes

// .banner {
//   background-color: var(--warner);
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// 
//   & > div {
//     width: 64ch;
//   }
// }