---
import Main from 'layout:Main'
---
<Main title="Contact" is="a big coffee fan ;)">
    <address>
        <ul>
            <li>By <strong>email (prefered!!!)</strong>: <code>&LeftAngleBracket;evan@!?!?!.org&RightAngleBracket;</code> (@24h)</li>
            <li>On <strong>matrix</strong>: <code>&LeftAngleBracket;@ewwn:matrix.org&RightAngleBracket;</code> (@1w)</li>
            <li>On <strong>irc</strong>: <code>&LeftAngleBracket;eb@Libera.Chat&RightAngleBracket;</code> (@1m)</li>
            <li>Over <strong>coffee</strong>: <s>covid</s> (@when you make it to boston)</li>
            <li>By <strong>snailmail 🐌</strong>: <s>rip PO box</s> (@the UPS's leasure)</li>
        </ul>
    </address>
</Main>