---
import Main from 'layout:Main'
import Stf from '$scripts/warnReasons'
---

<Main title="Content Test" warn warnReason={['Flowers','Epic Colors']} noindex>
<p><strong>Q: Why does this exist? Will you have porn?</strong></p>
<p>A: No! This feature exists in case I discuss violence, mental health,
politics or really anything that might get on someone's nerves.</p>
<p><strong>Q: I still don't feel safe</strong></p>
<p>A: Here is an <s>index</s> (index is broken, how to store data
in astro? seems with current method this page is built before
the rest of the pages that might have the warning) of every warn reason used:</p>
<ul>
    {[...Stf].map((item) => (
        <li>{item}</li>
    ))}
</ul>
</Main>