---
import Main from 'layout:Main'
import Wikilink from 'component:wikilink'
import greet from '../components/deets/greatings.json'
const greetings: Array<string> = Object.values(greet).map(x => [x.hello,x.language])
const yo = greetings[Math.floor(Math.random() * greetings.length)];
---

<Main title="Home">
    <h2 style="margin-block-end: 0;"slot="title">{yo[0]}! 👋</h2>
    <sup>{yo[1]}</sup>
    <p>I'm Evan, your run of the mill programmer, ski bum, photographer, and believer.</p>
    <p>I believe in <Wikilink href="/details">details</Wikilink>, that the little things make us whole.
    I believe that with hard work and love, anything is possible.
    For what it's worth, although we just met, I believe in you.</p>
</Main>