<div class="banner" style={Astro.props.full ? "height: 100vh" : null}>
<div>
<slot></slot>
</div>
</div>

<style>
.banner {
    background-color: peachpuff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner > div {
    width: 64ch;
}

</style>