---
    import flowerpower from './deets/flowerpower.txt?raw'
    import config from '$config'
    let flowers = [[],[]]
    Object.values(flowerpower.split('\n---'))
        .reverse()
        .map(x => {
            //x.substring(0, 1) == '-' ? flowers[0].push(Number(x.substring(0, 2))) : flowers[0].push(Number(x.substring(0, 1)))
            //x.substring(0, 1) == '-' ? flowers[1].push(x.substring(2)) : flowers[1].push(x.substring(1));
            flowers[0].push(Number(x.substring(0, 1)))
            flowers[1].push(x.substring(1));
        })
---
<script define:vars={{ flowers }}>
let isanimating = false
let timeleft = flowers[0].length;
let ishover = true;
let state = false;

function doanimation(should_reverse = false,flower_time,flower) {
    isanimating = true;
    if (should_reverse) {
        flower_time = flower_time.reverse()
        flower = flower.reverse()
        state = false
    }
    else {
        flower_time = flower_time
        state = true
    }
    let int = setInterval(function () {
        //if (flower_time[timeleft - 1] == -1 && !should_reverse) timeleft -= 1
        document.getElementById("flower").innerHTML = flower[timeleft - 1]
        if (flower_time[timeleft - 1] == 0) timeleft -= 1
        else flower_time[timeleft - 1] -= 1
        if (timeleft == 0) {
            clearInterval(int)
            timeleft = flower_time.length
            isanimating = false;
            shit()
        }
    }, 200);
}

function shit() {
    if (isanimating == true) return
    if (ishover == false && state == true) doanimation(true,[...flowers[0]],[...flowers[1]])
    else if (ishover == true && state == false) doanimation(false,[...flowers[0]],[...flowers[1]])
    else console.log('f')
}

</script>

<footer>
<pre id="flower" class="lighter">
{('\n' + flowers[1][flowers[0].length - 1])}
</pre>

<nav>
<div class="e">
    <div>Main</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/resume">{config.isJobHunting ? "Resume" : <s>Resume</s>}</a></li>
    </ul>
</div>
<div class="e">
    <div>Feeds</div>
    <ul>
        <li><a href="/stream">Stream</a></li>
        <li><a href="/river">Blog</a></li>
        <li><a href="/garden">Garden</a></li>
        <li><a href="/photos">Photos</a></li>
    </ul>
</div>
<div class="e">
    <div>Links?!</div>
    <ul>
        <li>
            <a href="https://sr.ht/~boehs">SourceHut</a>
            |
            <a href="https://github.com/boehs">GitHub</a>
        </li>
        <li><a href="https://linkedin.com/in/boehs">LinkedIn</a></li>
    </ul>
</div>
<div class="e" style="padding-bottom: 50px;">
    <div>Boring</div>
    <ul>
        <li>
            <a href="/privacy">privacy</a> | &#127279; {config.author}
        </li>
    </ul>
</div>
</nav>
</footer>

<style>
    pre {
        overflow: hidden;
    }

    footer > *, nav > *, footer {
        width: 100%;
    }

    div.e > div {
        font-weight: bold;
    }

    ul {
        display: flex;
        gap: 15px;
        list-style-position: inside;
        padding-inline-start: 0px;
    }

    .e {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }

    @media screen and (max-width: 800px) {
        pre {
            font-size: 2.32vw;
        }
    }
</style>

<script>
// I give up
document.getElementById("flower").innerHTML = flowers[1][flowers[0].length - 1]
document.getElementById("flower").onmouseover = function() {
    ishover = true
    shit()
};
document.getElementById("flower").onmouseout = function() {
    ishover = false
    shit()
};
</script>