---
    import config from '$config'
    import flowerpower from '../components/deets/flowerpower.txt?raw'
    let flowers = [[], []]
    Object.values(flowerpower.split('\n---'))
        .reverse()
        .map(x => {
            flowers[0].push(Number(x.substring(0, 1)))
            flowers[1].push(x.substring(1));
        })
---
<footer>
<pre id="flower" class="lighter">
{('\n' + flowers[1][flowers[0].length - 1])}
</pre>

<nav>
<div>
    <div>Main</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/resume">{config.isJobHunting ? "Resume" : <s>Resume</s>}</a></li>
    </ul>
</div>
<div>
    <div>Feeds</div>
    <ul>
        <li><a href="/stream">Stream</a></li>
        <li><a href="/river">Blog</a></li>
        <li><a href="/garden">Garden</a></li>
        <li><a href="/photos">Photos</a></li>
    </ul>
</div>
<div>
    <div>Links?!</div>
    <ul>
        <li>
            <a href="https://sr.ht/~boehs">SourceHut</a>
            |
            <a href="https://github.com/boehs">GitHub</a>
        </li>
        <li><a href="https://linkedin.com/in/boehs">LinkedIn</a></li>
    </ul>
</div>
<div style="padding-bottom: 50px;">
    <div>Boring</div>
    <ul>
        <li>
            <a href="/privacy">privacy</a> | <abbr title="Sharing is caring!">copyleft</abbr> {config.author}
        </li>
    </ul>
</div>
</nav>
</footer>
<script src={Astro.resolve('../scripts/flowers.ts')}></script>
