---
    import stuff from './deets/isdoingstuffagain.txt?raw'
    import config from '$config'
    import SSR from 'component:SSR'
    const stuffs: Array<String> = Object.values(stuff.split('\n'))
    const doing = Astro.props.is ? Astro.props.is : stuffs[Math.floor(Math.random() * stuffs.length)];
---
<header>
    <span>
        <a href="/" class="lighter">
            <span class="jp">木</span>&nbsp;<h1>{config.author}</h1>
        </a>
        <i>is {Astro.props.is ? doing : <SSR content="= await it.doing()"><slot>{doing}</slot></SSR>}</i>
    </span>
</header>