---
    // This code is only fired once in a while, AKA when the site is built
    // This is intentional
    import stuff from './deets/isdoingstuffagain.txt?raw'
    const stuffs: Array<String> = Object.values(stuff.split('\n'))
    const doing = Astro.props.is ? Astro.props.is : stuffs[Math.floor(Math.random() * stuffs.length)];
---

<script>
console.log('does anyone even read this?')
</script>

<header>
    <div>
        <div>
            <span class="jp lighter">木</span>
            <span class="lighter">Evan Boehs</span>
        </div>
        <i>is <slot>{doing}</slot></i>
    </div>
</header>

<style>
header {
    padding-top: 50px;
    width: 100%;
}

header > * {
    text-align: center;
    width: 100%;
}

.jp {
  font-size: 14px;
}
</style>
