---
    import stuff from './deets/isdoingstuffagain.txt?raw'
    import config from '$config'
    import SSR from 'component:SSR'
    const stuffs: Array<String> = Object.values(stuff.split('\n'))
    const doing = Astro.props.is ? Astro.props.is : stuffs[Math.floor(Math.random() * stuffs.length)];
---
<script>
console.log('does anyone even read this?')
</script>

<header>
    <div>
        <div class="lighter">
            <a href="/">
                <span class="jp">木</span>
                <h1>{config.author}</h1>
            </a>
        </div>
        <i>is {Astro.props.is ? doing : <SSR content="= await it.doing()"><slot>{doing}</slot></SSR>}</i>
    </div>
</header>