---
    // This code is only fired once in a while, AKA when the site is built
    // This is intentional
    import stuff from './deets/isdoingstuffagain.txt?raw'
    import config from '$config'
    const stuffs: Array<String> = Object.values(stuff.split('\n'))
    const doing = Astro.props.is ? Astro.props.is : stuffs[Math.floor(Math.random() * stuffs.length)];
---
<script>
console.log('does anyone even read this?')
</script>

<header>
    <div>
        <div class="lighter">
            <a href="/">
                <span class="jp">木</span>
                <h1>{config.author}</h1>
            </a>
        </div>
        <i>is <slot>{doing}</slot></i>
    </div>
</header>

<style>
header {
    padding-top: 50px;
}

h1 {
    font-size: inherit;
    font-weight: inherit;
    display: inline;
}

header > * {
    text-align: center;
}

.jp {
  font-size: 14px;
}

.lighter>a {
    text-decoration: inherit;
    color: inherit;
}
</style>
