---
import Main from 'layout:Main'
---

<Main title="Home">
    <span class="subnode-content">
        <h1>Hey! 👋</h1>
        <p>I'm Evan, I am a programmer, ski bum, photographer, and believer.</p>
        <p>I believe in details, I believe that the little things make us whole.
        I believe that with hard work and love, anything is possible.
        For what it's worth, although we just met, I believe in you.</p>
    </span>
</Main>