---
import Main from 'layout:Main'
import Wikilink from 'component:wikilink'
import config from '$config'
---

<Main title="Resume" is={config.isJobHunting ? "ready to kick ass at your company!"
: "not actively looking for a job"}>
    <section>
        <h2>Why you should hire me</h2>
        <ul>
            <li>I do things right the first time.</li>
            <li>I know my strengths,</li>
            <li>And I know my html tags.</li>
            <li>I care about your team, the world, and my work,</li>
            <li>Just not about internet explorer,</li>
            <li>And I am willing to learn about what you care about.</li>
        </ul>
    </section>
    <section>
        <h2>Why you should NOT hire me</h2>
        <p>I really hope we work out, but for both of our sake you should know:</p>
        <ul>
            <li>I have strong ethics/beliefs, I'm pretty open about them,
            both online, and if someone brings it up, in person.</li>
            <li>I spend long periods of time perfecting my work <i>(this is
            because of some form of
            <Wikilink href="https://wikipedia.org/wiki/neurodiversity">neurodiversity</Wikilink>
            that i'm proud of, you must accept it.)</i></li>
        </ul>
    </section>
</Main>