---
import Header from 'component:head'
import Footer from 'component:foot'
const {title,is} = Astro.props;
---
<html>
  <head>
    <meta charset="utf-8">
    <title>{title}</title>
  </head>
  <body>
    <div>
      <Header is={is}/>
      <article>
        <slot name="title">
          <h1>{title}</h1>
        </slot>
        <slot/>
      </article>
      <Footer/>
    </div>
  </body>
</html>

<style global>
body {
  padding: 3% 0;
  font-family:monospace;
  font-size: 18px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  overflow-y:overlay
}

body > div {
  max-width: 64ch;
}

p {
  color: rgb(20, 20, 20);
}

.lighter {
  color: rgb(10 160 110)
}

.jp {
  font-size: 14px;
}

.footcontain {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul {
  list-style: georgian;
  list-style-position: outside;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

@media screen and (max-width: 800px) {
  content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
</style>
