---
import Header from 'component:head'
import Footer from 'component:foot'
const {title} = Astro.props;
---
<html>
  <head>
    <meta charset="utf-8">
    <title>{title}</title>
  </head>
  <body>
  <content>
    <Header/>
    <main>
      <slot/>
    </main>
    <div class="footcontain">
      <Footer/>
    </div>
  </content>
  </body>
</html>

<style global>
body {
  padding-top: 3%;
  font-family:monospace;
  font-size: 18px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

content {
    max-width: 64ch;
}

p {
  color: rgb(20, 20, 20);
}

.lighter {
  color: rgb(10 160 110)
}

.jp {
  font-size: 14px;
}

.footcontain {
  width: 100%;
  display: flex;
  justify-content: center;
}

code {
  background-color: whitesmoke;
  padding: 15px;
}
</style>
