@font-face {
	font-family: 'dillanregular';
	src: url("Assets/Fonts/Webfonts/dillan-webfont.woff2") format("woff2"), url("Assets/Fonts/Webfonts/dillan-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	animation: pulse 20s infinite;
	text-align: center;
}

@keyframes pulse {
	0%, 100% {
		background-color: #f5f5f5;
	}

	50% {
		background-color: #f0f0f0;
	}
}

h1 {
	font-family: 'dillanregular';
	font-size: calc(0.75em + 9vmin);
	margin: 0px;
}

h2 {
	font-family: 'dillanregular';
	font-size: calc(0.75em + 5vmin);
	margin: 0px;
}

h3 {
	font-family: 'dillanregular';
	font-size: calc(0.75em + 3vmin);
	margin: 0px;
}

p {
	font-size: calc(0.75em + 2vmin);
	font-family: 'Noto Sans', sans-serif;
}

li {
	font-size: calc(0.75em + 2vmin);
	font-family: 'Noto Sans', sans-serif;
	list-style-position: inside;
}

hr {
	margin: 1.5em auto;
	position: relative;
	height: 9px;
	width: 9px;
	border: transparent;
	overflow: visible;
	background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="4" fill="%231CB0A8" /></svg>');
}

hr:before {
	position: absolute;
	height: 9px;
	width: 10px;
	content: '';
	background-image: url('data:image/svg+xml;utf8,<svg width="10" height="9" viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg"><path d="M3.91043 1.29752C4.30449 0.688518 5.19551 0.688519 5.58957 1.29752L9.25143 6.95675C9.68196 7.62211 9.20436 8.5 8.41186 8.5H1.08814C0.29564 8.5 -0.181954 7.62211 0.248574 6.95675L3.91043 1.29752Z" fill="%23FCB643" /></svg>');
	left: -18px;
}

hr:after {
	position: absolute;
	height: 9px;
	width: 9px;
	content: '';
	background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="1" fill="%23EF4056" /></svg>');
	right: -18px;
}