:root {
	--deg: 197deg;
	font-size: 62.5%; /* For my sake */
}

@font-face {
	font-family: "dillanregular";
	src: url("Assets/Fonts/Webfonts/dillan-webfont.woff2") format("woff2"),
	url("Assets/Fonts/Webfonts/dillan-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

.heysoweusecookieslol {
	padding: 10px;
	right: 0;
	top: 0;
	font-family: "Noto Sans", sans-serif;
	font-size: 1.6rem;
}

* {
	margin: 0;
}

.header {
	font-family: "dillanregular";
	font-size: 7.5rem;
	line-height: 5.5rem;
}

.content,p,ul {
	font-size: 1.9rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-family: "Noto Sans", sans-serif;
}

.links {
	font-family: "dillanregular";
	font-size: 1.6rem;
	line-height: 1.6rem;
}


[class*="col-"] {
	width: 100%;
	text-align: center;
}

.contents {
	padding: 3rem;
}

.flexcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* desktop */
@media only screen and (min-width: 1000px) {
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		position: absolute;
	}

	[class*="col-]"] {
		width: 50%;
	}

	.imageslide {
		width: 40rem;
	}

	.bg {
		position: fixed;
		height: 100%;
		width: 100%;
		background-color: rgb(212, 222, 235);
		background: linear-gradient(
		var(--deg),
		rgba(207, 221, 242, 1) 32%,
		rgba(251, 235, 208, 1) 100%
		);
	}
	.heysoweusecookieslol {
		position: fixed;
	}
}

@media only screen and (max-width: 999px) {
	.imageslide {
		width: 90vw;
	}

	body {
		padding: 1rem;
	}

	.bg {
		background-color: #F0F0F0;
	}
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-30px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes vanish {
  0% {
    opacity: 1;
    transform: translateY(0)
  }
  to {
    opacity: 0;
    transform: translateY(30px)
  }
}

.hide {
	animation: 1s ease vanish;
}

.show {
	animation: 1s ease reveal;
}
