---
layout: base.njk
pagination:
  data: collections.nestedTax
  size: 1
  alias: value
permalink: /{{value}}/index.html
eleventyComputed:
  title: "{{value}}"
---

{% from "partials/cardgroup.njk" import cardList %}


{% set renderedList = [] %}
{% for tag,_ in collections.nestedTax[value] %}
  {% set renderedList = (renderedList.push([
  {
    color: tagList[value][tag].color
  },
  {
    url: "/" + value + "/" + tag,
    title: tag
  },
  {
    content: tagList[value][tag].description
  }]), renderedList) %}
{% endfor %}
      
{{cardList(renderedList)}}