---
layout: base.njk
pagination:
  data: collections.taxes
  size: 1
  alias: value
permalink: /{{ value[0] }}/{{ value[1] }}.html
eleventyComputed:
  title: "{{value[0]}}: {{value[1]}}"
---

{% from "partials/card.njk" import card %}

<div class="h-feed">
  {% for post in collections.nestedTax[value[0]][value[1]] | reverse %}
    {{ card({
      class: 'h-entry'
    },
    {
      url: post.url | url,
      class: "p-name u-url",
      title: post.data.title
    },
    {
      class: "p-summary",
      content: post.data.description | renderMd if post.data.description else post.data.page.excerpt | renderMd
    })}}
  {% endfor %}
</div>