---
layout: base.njk
pagination:
  data: collections.taxes
  size: 1
  alias: value
permalink: /{{collectionsControl[value[0]].single or value[0]}}/{{ value[1] }}.html
eleventyComputed:
  title: "{{collectionsControl[value[0]].single or value[0]}}: {{value[1]}}"
---

{% from "partials/card.njk" import card %}


☝ <a href="/{{ collectionsControl[value[0]].plural or value[0] }}">view all {{collectionsControl[value[0]].plural or value[0]}}</a>

{% if tagList[value[0]][value[1]] %}
  {{ card({
      color: tagList[value[0]][value[1]].color
  },{
      url: "/" + value[0] + "/" + value[1],
      title: value[1],
      icon: tagList[value[0]][value[1]].icon
  },{
      content: tagList[value[0]][value[1]].description
  }) }}
  <hr/>
{% endif %}

<div class="h-feed">
  {% for location,posts in collections.nestedTax[value[0]][value[1]] | reverse | groupby("data.in") %}
    {% if loop.length != 1 or location != value[0] %}<h2>{{location}}</h2>{% endif %}
    {% for post in posts %}
    {{ card({
      class: 'h-entry'
    },
    {
      url: post.url | url,
      class: "p-name u-url",
      title: post.data.title
    },
    {
      class: "p-summary",
      content: post.data.description | renderMd if post.data.description else post.data.page.excerpt | renderMd
    })}}
    {% endfor %}
  {% endfor %}
</div>