---
import Main from 'layout:Main'
---
<Main is="knees deep in weeds">
    <h2>Oh hi!</h2>
    <p>You're totally looking for</p>
    <ul>
        <li><a href="ugly">A list of all posts</a></li>
        <li><a href="feed">A feed of all posts</a></li>
    </ul>
</Main>