---
import Main from 'layout:Main'
import SSR from 'component:SSR'
---
<Main>
    <SSR content={` let dateCfg = {
    weekday: "long", year: "numeric", month: "short",
    day: "numeric", hour: "2-digit", minute: "2-digit"
}`}/>
    <ul>
        <SSR content={' Object.entries({...it.meta, "created at": new Date(it.birthtime).toLocaleTimeString("en-us",dateCfg),"modified at": new Date(it.mtime).toLocaleTimeString("en-us",dateCfg)}).forEach(element fix=> { '}/>
            <li><strong><SSR content='= element[0]'/></strong>: &LeftAngleBracket;<SSR content='= element[1]'/>&RightAngleBracket;</li>
        <SSR content=' }) '/>
    </ul>
    <hr/>
    <SSR content='~ it.content '/>
</Main>