---
import Main from 'layout:Main'
import SSR from 'component:SSR'
---
<Main>
    <SSR content='it.posts.forEach(element fix=> {'/>
        <div class="card">
            <h3><SSR content='= element.name'/></h3>
            <p><SSR content='~ element.description'/></p>
        </div>
    <SSR content='})'/>
</Main>