---
import Main from 'layout:Main'
import SSR from 'component:SSR'
---
<Main>
            <SSR content=' it.posts.forEach(element fixs=> {'/>
                <div style="background-color: white; margin: 10px; padding: 10px; border-radius: 3px;">
                    <h3><SSR content='= element.name'/></h3>
                    <ul>
                        <li><strong>Updated At</strong>: &LeftAngleBracket;<SSR content='= element.updated_at'/>&RightAngleBracket;</li>
                    </ul>
                    <p><SSR content='~ element.description'/></p>
                </div>
            <SSR content=' })'/>
</Main>