---
pagination:
  data: collections.redirects
  size: 1
  alias: redirect
permalink: "{{ redirect[1] }}.html"
layout: ""
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="1; URL='{{ redirect[0]  }}'" />
  <title>Redirecting to: {{ redirect[0] }}</title>
</head>
<body>
  	you should be redirecting to <a href="{{ redirect[0] }}">{{ redirect[0] }}</a>
</body>
</html>
