---
    import flowerpower from './deets/flowerpower.txt?raw'
    let flowers = [[],[]]
    Object.values(flowerpower.split('---'))
        .reverse()
        .map(x => {
            flowers[0].push(Number(x.substring(0, 1)))
            flowers[1].push(x.substring(1));
        })
    console.log(flowers)
---
<script define:vars={{ flowers }}>
console.dir(flowers)
let isanimating = false
let timeleft = flowers.length;
let ishover = false;
let state = false;

function doanimation(should_reverse = false,flower_time,flower) {
    isanimating = true;
    if (should_reverse) {
        flower_time = flower_time.reverse()
        flower = flower.reverse()
        state = false
    }
    else {
        flower_time = flower_time
        state = true
    }
    let int = setInterval(function () {
        document.getElementById("flower").innerHTML = flower[timeleft - 1]
        console.log(flower_time[timeleft - 1])
        if (flower_time[timeleft - 1] == 0) timeleft -= 1
        else flower_time[timeleft - 1] -= 1
        if (timeleft == 0) {
            clearInterval(int)
            console.log('val cleared')
            console.log()
            timeleft = flower_time.length
            isanimating = false;
            shit([...flowers[0]],[...flowers[1]])
        }
    }, 200);
}

function shit(flower_time,flower) {
    console.log('oh shit')
    if (isanimating == true) return
    if (ishover == false && state == true) doanimation(true,flower_time,flower)
    else if (ishover == false && state == false) return
    else if (ishover == true && state == false) doanimation(false,flower_time,flower)
    else if (ishover == true && state == true) return
    else console.log('f')
}

</script>

<footer>
<pre id="flower">
{flowers[1][flowers.length - 1]}
</pre>

<div class="e" style="margin-top: 25px;">
    <h4>Main</h4>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">Resume</a></li>
    </ul>
</div>
<div class="e">
    <h4>Feeds</h4>
    <ul>
        <li><a href="/stream">Stream</a></li>
        <li><a href="/river">Blog</a></li>
        <li><a href="/garden">Garden</a></li>
        <li><a href="/photos">Photos</a></li>
    </ul>
</div>
<div class="e">
    <h4>Links?!</h4>
    <ul>
        <li><a href="https://sr.ht/~boehs">SourceHut</a>|<a href="https://github.com/boehs">GitHub</a></li>
        <li><a href="https://linkedin.com/in/boehs">LinkedIn</a></li>
    </ul>
</div>
</footer>

<style>
    pre {
        color: rgb(10 160 110);
    }

    footer > * {
        width: 100%;
    }

    ul {
        list-style: georgian;
        list-style-position: inside;
        display: flex;
    }

    li {
        padding-right: 15px;
    }

    .e {
        display: flex;
        justify-content: space-between;
    }

    h4,ul {
        margin-block-end: 0;
        margin-block-start: 0;
    }
</style>

<script>
document.getElementById("flower").onmouseover = function() {mouseOver()};
document.getElementById("flower").onmouseout = function() {mouseOut()};

function mouseOver() {
    ishover = true;
    shit([...flowers[0]],[...flowers[1]])
}

function mouseOut() {
    ishover = false
    shit([...flowers[0]],[...flowers[1]])
}
</script>