<pre id="flower" class="lighter">^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^</pre>
<nav>
    <dl>
        <dt><strong>Main</strong></dt>
        <dd>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact" class="umami--click--contact">Contact</a></li>
                {% if config.isJobHunting %}
                    <li><a href="/resume"><s>Resume</s></a></li>
                {% endif %}
                <li><a href="/in/blog" class="umami--click--blog">Blog</a></li>
                {# <li><a href="/in/now" class="umami--click--journal">Now</a></li> #}
            </ul>
        </dd>
        <dt><strong>Links</strong></dt>
        <dd>
            <ul>
                <li>
                    <a href="https://sr.ht/~boehs" rel="me">SourceHut</a>
                    | 
                    <a href="https://github.com/boehs" rel="me">GitHub</a>
                </li>
                <li>
                    <a href="https://social.coop/@eb" rel="me">Mastodon</a>
                </li>
            </ul>
        </dd>
        <dt><strong>Boring</strong></dt>
        <dd>
            <ul>
                {% if config.analyticsPub %}
                    <li><a href="{{config.analyticsPub}}">Open Analytics</a></li>
                {% endif %}
                {% if config.donate %}
                    <li>
                        <a style="--light: #f6c915" href="{{config.donate}}" class="umami--click--donate">Donate</a>
                    </li>
                {% endif %}
            </ul>
        </dd>
    </dl>
</nav>