<span>
    <span class="p-author h-card">
        <a href="/" class="lighter p-name">
            <strong>{{config.author.name}}</strong>
        </a>
        <a class="u-url" rel="me" href="{{ config.baseurl }}">website</a>
        <a class="u-email" href="mailto:{{ config.author.email }}">email</a>
        <img class="u-photo" src="{{config.author.image}}"/>
        <div class="p-country-name">{{config.author.location.country}}</div>
    </span>
    <i>is
        {% if is %}
            {{ is }}
        {% else %}
            {{ deets.is | random | safe }}
        {% endif %}
    </i>
</span>