{% macro card(card,head,body) %}

<div class="card{{" " + card.class if card.class else ""}}" {% if card.color %} style="background-color: {{card.color}}" {% endif %}>
    <p>{{ head.icon + " " if head.icon}}<a href="{{head.url}}" {% if head.class %}class="{{head.class}}"{%endif%}>{{ head.title }}</a></p>
    {% if body.content %}<p {% if body.class %}class="{{body.class}}"{% endif %}>{{ body.content | safe }}</p>{% endif %}
</div>

{% endmacro %}