<pre id="flower" class="lighter">^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^</pre>
<nav>
    <div>
        <div>Main</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            {% if config.isJobHunting %}
                <li><a href="/resume"><s>Resume</s></a></li>
            {% endif %}
        </ul>
    </div>
    <div>
        <div>Feeds</div>
        <ul>
            <li><a href="/in/blog">Blog</a></li>
            <li><a href="/in/garden">Garden</a></li>
            <li><a href="/in/journal">Journal</a></li>
        </ul>
    </div>
    <div>
        <div>Links</div>
        <ul>
            <li>
                <a href="https://sr.ht/~boehs">SourceHut</a>
                |
                <a href="https://github.com/boehs">GitHub</a>
            </li>
            <li>
                <a href="https://linkedin.com/in/boehs">LinkedIn</a>
            </li>
            <li>
                <a href="https://500px.com/taps">Photos</a>
            </li>
        </ul>
    </div>
    <div>
        <div>Boring</div>
        <ul>
            <li>
                <a href="/privacy">Privacy</a>
            <li>
                {% if config.donate %}
                    <a href="https://flattr.com/@evan">Donate</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>