<p>
    <strong>
        This page is deliberately unstyled on April 9th, as part of
        <a href="https://css-naked-day.github.io/2024.html">CSS Naked Day</a>!
    </strong>
    The objective is to draw attention to schematic HTML, which is critical to
    the quality and accessibility of the web we share. If you want CSS, click
    <button
        onclick="document.head.innerHTML+=`<link rel='stylesheet' href='/main.css'/>`"
    >
        here
    </button>
</p>
<span class="p-author h-card" data-nosnippet>
    <a
        href="/"
        class="lighter p-name"
        data-umami-event="home"
        data-umami-event-place="header"
    >
        <strong>{{ config.author.name }}</strong>
    </a>
    <i {% if not is %}id="is" {% endif %} data-umami-event="is">is {{ is }}</i>
    <a class="u-email" href="mailto:{{ config.author.email }}">email</a>
    <img
        class="u-photo"
        src="{{ config.author.image }}"
        alt="A drawing of an astronaut in space"
        loading="lazy"
        style="display: none"
        width="100px"
        height="100px"
    />
    <span class="p-country-name">{{ config.author.location.country }}</span>
</span>
