<p id="apr9ph"></p>
<span class="p-author h-card" data-nosnippet>
    <a
        href="/"
        class="lighter p-name"
        data-umami-event="home"
        data-umami-event-place="header"
    >
        <strong>{{ config.author.name }}</strong>
    </a>
    <a class="u-email" href="mailto:{{ config.author.email }}">email</a>
    <img
        class="u-photo"
        src="{{ config.author.image }}"
        alt="A drawing of an astronaut in space"
        loading="lazy"
        style="display: none"
        width="100px"
        height="100px"
    />
    <span class="p-country-name">{{ config.author.location.country }}</span>
</span>
<i {% if not is %}id="is" {% endif %} data-umami-event="is">is {{ is }}</i>
