<meta charset="utf-8">
{%for name,content in metaTags %}
    <meta name="{{name}}" content="{{content | interpolate}}">
{%endfor%}
{% if description %}
    <meta name="description" content="{{description}}">
{% endif %}
{% if noindex %}
    <meta name="robots" content="noindex">
{% endif %}
<title>{{title}}</title>
<link rel="preload" as="font" type="font/woff2" href="/spectralregular.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/spectralbold.woff2" crossorigin>
<link rel="stylesheet" href="/main.css">
{% if hasCodeBlock %}
    <link rel="stylesheet" href="/code.css">
    {% if config.analytics %}
        <script defer src="/infoot.js" defer></script>
    {% endif %}
{% endif %}
<script src="/main.js" defer></script>
{% if config.analytics and getEnv("ELEVENTY_ENV","production") %}
    {{ config.analytics.analytics | safe }}
{% endif %}
{% if headInject %}{{ headInject | safe }}{% endif %}
